<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configulation PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd>
        <configulation>
        <environments defualt="enviroment01">
        <environments id="enviroment01">
        <transactionManager type="jDBC">
        </transactionManager>
        <dataSource type="POOLED">
           <property name="driver"value="com.mysql.cj.jdbc.Driver"/>
           <property name="url"value="jdbc.mysql://localhost:3306/docys?useSSL=ture"/>
           <property name="username" value="root"/>
           <property name="password" value="123456"/>
            </dataSource>
          </enviroment>
        </enviroments>
        <!--将SQL进行加载-->
        <typeAliases>
        <package name="com.ckcj.entity"/>
        </typeAliases>
        <mappers>
        <mapper resource="mapper/tblusermapper.xml"></mapper>
        </mappers>
    <!-- Invoke 'Generate' action to add tags or functions -->

    </configulation>
